* {
    font-family: "Manrope", sans-serif;
}

/* Colores */
:root {
    --primary-color: #294C60;
    --secondary-color: #3b3b3bb7;
    --tertiary-color: #d7dae0;
}

/* Estilos del body */
.my_products {
    background-color: #1F3847;
}

body {
    background-color: #e0e0e0;
    min-height: 100vh;
}

main {
    display: flex;
    width: 100%;
    max-width: 1300px;
    flex-wrap: wrap;
    margin: 7em auto;
    justify-content: space-evenly;
    gap: 2.5em;
}

.product {
    width: 18.75em; 
    height: 28.125em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 5em;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.product h2 {
    margin-top: 1em;
    font-size: 1.5rem;
    margin-left: .7em;
    font-weight: 500;
} 

.product h3 {
    margin-left: 1em;
    margin-top: .3em;
    font-weight: 200;
    font-size: 1.05rem;
}

.product p {
    margin-left: 1em;
    margin-top: .3em;
}

.product:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.product img {
    width: 90%;
    height: 65%;   
    margin: 0 auto;
    object-fit: cover;
}

.product__buttons {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.product__buttons form {
    display: flex;
    gap: 1.3em;
}

.button {
    border: none;
    height: 3.5em;
    width: 5.7em;
    color: #fff;
    background-color: #5691B3;
    border-radius: 10px;
}

.button:hover {
    background-color: #294C60;
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 1024px) {
    main {
        justify-content: center;
        gap: 1.5em;
    }
    
    .product {
        width: 45%;
        height: auto;
    }
    
    .product img {
        width: 100%;
        height: auto;
    }
    
    .product__buttons {
        flex-direction: column;
        height: auto;
    }
    
    .button {
        width: 100%;
        margin: 0.5em 0;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    main {
        margin: 5em auto;
    }
    
    .product {
        width: 45%;
        height: auto;
        padding: 1em;
    }
    
    .product h2 {
        font-size: 1.2rem;
    }
    
    .product h3 {
        font-size: 1rem;
    }
    
    .product img {
        height: 50%;
    }
}

@media (max-width: 480px) {
    main {
        flex-direction: column;
        align-items: center;
        margin: 5em auto;
        gap: 1.5em;
    }
    
    .product {
        width: 100%;
        padding: 1em;
    }
    
    .product h2 {
        font-size: 1rem;
    }
    
    .product h3 {
        font-size: 0.9rem;
    }
    
    .button {
        height: 3em;
    }
}
